.form {
  margin-bottom: 20px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  margin: 16px;
  text-align: center;
  background-color: #fff;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.card h2 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 8px;
}
