.cartContainer {
margin-bottom: 30px;
}
.cartContainer > div {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    border-bottom: 2px solid black;
}