
.gridContainer {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat( auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 130px;
}

.gridContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(137, 43, 226, 0.537);
    color: white;
    border-radius: 10px;
}
.gridContainer div:hover {
background-color: rgba(226, 43, 183, 0.952);
    
}