.container {
    padding: 20px;
  }
  
  .userItem {
    border: solid black 2px;
    margin: 10px;
    padding: 10px;
    list-style-type: none;
  }
  
  .userItem div {
    margin-bottom: 5px;
  }
  .light {
    background-color: hwb(32 94% 0%);
    color: blueviolet;
}
.dark {
    background-color: gray;
    color: black;
}
.themeToggle {
  margin-top: 10px;
  padding: 8px 12px;
  cursor: pointer;
  background: none;
  background-color: yellowgreen;
  border: 2px solid currentColor;
  border-radius: 5px;
  font-size: 16px;
  color: blue;
}