body {
    display: flex;
    justify-content: center;
    align-items: center;
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
    padding: 50px;
    border-radius: 10px;
    border: 5px solid;
    background-color: aquamarine;
    color: blue;
}
.date {
    font-size: 40px;
    color: brown;
    margin-bottom: 80px;
}

.price {
font-size: 50px;
color: firebrick;
margin-bottom: 30px;
}
.button {
background-color: yellowgreen;
border-radius: 20px;
font-size: 20px;
padding: 10px 10px;
}
 .button:hover {
    background-color: antiquewhite;
 }