.header {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  color: black;
  width: 100%;
  height: 100px;
  padding: 0px 50px; /* Исправлено: запятая заменена на пробел */
  background-color: orange;
}
.header a {
  color: yellow;
}
.header nav {
display: flex;
gap: 15px;
}
.header a:hover {
  text-decoration: underline;
  color: aliceblue;
}

.main {
  padding: 0px 20px;
  width: 100%;
  flex: 1;
  color: blue;
  background-color: aqua;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  color: gray;
  background-color: greenyellow;
  gap: 20px;
}

.linkActive {
text-decoration:underline;
background-color: blueviolet;
color: azure;
}